.footer{
    background-color: rgb(238, 244, 253);
    height: fit-content;
    min-width: 250px;
}
.footer-subdiv{
    justify-content: space-evenly;
}
.footer-icons{
    width: 25%;
    align-items: center;
    min-width: 300px;
}
.footer-icons>h1{
    font-weight: 500;
    font-size: 35px;
}
.footer-icons>p{
    margin: 20px 0;
    font-size: 20px;
    text-align: justify;
}
#footer-icon{
    min-width: 250px;
    max-width: 500px;
}
.footer-pages{
    height: 100%;
    width: 30%;
}

.footer-list-1{
    gap: 15px 0;
    margin: 0 5px;
    width: 50%;
}
.footer-list-1>li{
    font-size: 18px;
}

#subcribe{
    width: 20%;
}
.footer-subdiv-2{
    padding: 10px;
    width: 97%;
    margin: 0 auto;
    border-top: gray solid 1px;
}
.footer-subdiv-2>h3{
    font-weight: 400;
    left: 0;
    color: rgb(67, 84, 90);
}


@media screen and (max-width:576px) {
    .footer{
        flex-direction: column;
        height: fit-content;
    }
    .footer-subdiv{
        padding: 10px 0 0 0;
    }
    .footer-subdiv{
        flex-direction: column;
    }
    .footer-icons{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-icons>p{
        width: 80%;
        text-align: center;
        font-size: 18px !important;
        letter-spacing: 1.5px;
    }
    .footer-icon{
        width: 70%;
        min-width: 250px;
        margin: 0 auto;
    }
    .footer-pages{
        width: 100%;
        padding: 10px 0;
        justify-content: space-evenly;
    }
    .footer-list-1{
        width: max-content;
    }
    .footer-list-1>li{
        margin: 5px 0;
        font-size: 16;
    }    
    #subcribe{
        width: 80%;
        text-align: center;
    }
    .footer-subdiv-2{
        width: 99%;
    }
    .footer-subdiv-2>h3{
        font-size: 16px;
    }
}