.navbar-div{
    height: 50px;
    justify-content: space-between;
    padding: 0 20px;
}

.logo-div{
    width: 100px;
}

.navbar-div>ul{
    width: 40%;
    justify-content: space-between;
}

.navbar-btn{
    background-color: orange;
    font-size: 15px;
}

@media screen and (max-width:576px) {
    .navbar-div>ul,.navbar-btn{
        display: none;
    }
}