.navbar-div{
    height: 50px;
    justify-content: space-between;
    padding: 0 30px;
}

.logo-div{
    width: 100px;
    font-size: 30px;
}

.navbar-div>ul{
    width: 40%;
    justify-content: space-between;
}
.navbar-div>span{
    font-size: 30px;
    display: none;
}
.nav-end>p{
    font-size: 25px;
    margin: 0 20px;
}
.navbar-btn{
    background-color: orange;
    font-size: 15px;
}
.navbar-cross{
    display: none;
}

@media screen and (max-width:576px) {
    .navbar-btn,.nav-end>p{
        display: none;
    }
    .navbar-div>ul{
        display: none;
    }
    .navbar-div>span{
        display: contents;
    }
    .navbar-cross{
        display: block !important;
        font-size: 20px;
        position: absolute;
        top: 15px;
        right: 30px;
    }
}