.contactform {
    height: fit-content;
}
.contactform {
    width: 40%;
    padding: 30px 10px;
    border-radius: 10px;
    box-shadow: rgb(223, 220, 220) 2px 2px 20px 5px;
}

.contactform>h2 {
    margin-top: 20px;
}

.contactform>p{
    margin: 10px 0;
    line-height: 20px;
    letter-spacing: 1px;
}


.input-fields {
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-between;
    height: 80%;
    padding: 10px;
    justify-content: center;
}

.name-input {
    justify-content: space-between;
}

input {
    padding: 10px;
}

.input1 {
    width: 48%;
    margin: 10px 0;
}

.input2 {
    width: 100%;
}

textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.contactform-btn {
    background-color: rgb(0, 191, 255);
    padding: 10px 25px;
    border-radius: 10px;
}

@media screen and (max-width:576px) {
    .contactform{
        box-shadow: none;
        width: 100%;
        margin: 0;
    }
    .contactform>p{
        font-size: 18px !important;

    }
    .contactform-btn {
        padding: 5px 15px;
        font-size: 15px;
    }
}