.counter-div{
    gap:10px;
    justify-content: space-evenly;
}
.counter-card{
    width: 20%;
}
.counter-card>h1{
    margin: 10px 0;
}

@media screen and (max-width:576px) {
    .counter-div{
        flex-direction: column;
    }
    .counter-card{
        width: 100%;
    }
}