.contact-page-subdiv{
    padding: 20px;
    display: flex;
    align-items: flex-start;
}
.contact-subdiv-1{
    gap: 20px;
    width: 40%;
    padding: 20px;
    align-items: center;
}

#contact-page-card-div{
    padding: 30px;
    width: 70%;
    border: solid 1px gray ;
}
#contact-subcribe{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
}
#contact-subcribe>h2{
    font-size: 28px;
    width: 80%;
    margin: 0 auto;
    min-width: 300px;
}
#contact-subcribe>input{
    outline: 1px solid gray;
    font-size: 16px;
}
#contact-subcribe>p{
    margin: 0 auto;
    font-size: 20px;
}
.contact-subdiv-2{
    padding: 10px 0;
    width: 60%;
}
.contact-page-txt>h2{
    margin: 10px 0;
}
.contact-page-txt>p{
    margin: 5px 0;
    line-height: 1.5;
    font-size: 18px;
}
#contact-icon{
    width: 50%;
    min-width: 300px;
    margin: 15px 0;
}
#contact-icon>span{
    font-size: 30px;
}
#contact-page-form{
    min-width: 300px;
    width: 80%;
    padding: 30px 20px;
    box-sizing: none;
    margin: 30px auto;
}
#contact-page-form>h2{
    font-size: 30px;
}
#contact-page-form>p{
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 01px;
}
#contact-page-form>.input-fields>span{
    padding: 10px 20px ;
    margin: 20px 0;
}
#contact-page-form>.input-fields>.name-input>input,
#contact-page-form>.input-fields>.input2,
#contact-page-form>.input-fields>textarea{
    padding: 15px;
    font-size: 15px;
}

.contact-page-end{
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    width: 80%;
    margin: 10px auto;
}
@media screen and (max-width:576px){
    .contact-page-subdiv{
        flex-direction: column;
        padding: 0;
    }
    .contact-subdiv-1{
        width: 100%;
    }

    .contact-subdiv-2{
        width: 100%;
        padding: 0;
        height: fit-content;
    }
    .contact-text-div{
        padding: 20px;
    }
    #contact-page-form{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .contact-page-end{
        width: 100%;
        margin: 0 ;
        padding: 20px;
        text-align: justify;
    }
}