.home-banner-div{
    width: 90vw;
    padding-top: 20px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.banner-div{
    height: 90vh;
    padding: 20px 50px;
}
.banner-txt{
    width: 50%;
    padding: 0 20px;
}
.banner-txt>h1{
    font-size: 65px;
    font-weight: 400;
}
.banner-txt>h1{
    color: #222F5D;
    font-weight: bold;
}
.banner-txt>h2{
    font-weight: 300;
    color: #444F76;
    font-weight: bold;
}
.banner-txt>div{
    gap:30px;
    margin-top: 20px;
}
.home-btn{
    background-color: orange;
    padding: 10px 20px;
    border-radius: 20px !important ;
    cursor: pointer;
}
.home-btn-2{
    background-color: transparent;
    border: 2px solid orange;
}
/* courses display sections */
.course-display{
    align-items: center;
    padding: 20px 0;
    overflow: hidden;
}
.course-display>h1{
    margin: 10px 0;
}
.courselist-div{
    overflow-x: scroll;
    padding: 5px 0;
    height: fit-content;
}
.arrow{
    font-size: 50px;
    scale: 1.2;
    color: rgb(0, 49, 141);
    z-index: 1;
    cursor: pointer;
}
.courselist-div::-webkit-scrollbar{
    width: 0px;
}
/* contact card stylings */

.contact-details{
    padding: 40px 0;
    justify-content: space-evenly;
}
.contact-title-div>h1{
    font-size: 50px;
    font-weight: 400;
    width: 55%;
    text-align: center;
}

#contact-card-div{
    width: 30%;
}

/* contact form styles */
.contactform-div{
    height: fit-content;
    justify-content: space-evenly;
    margin: 30px 0;
    padding: 20px 0;
}

.contactform-img{
    width: 40%;
    text-align: center;
}
.contactform-img>img{
    width: 100%;
    height: 100%;
}
#home-contactform{
    width: 40%;
    min-width: 450px;
}
@media screen and (max-width:576px) {
    .home-banner-div{
        width: 100vw;
        margin: auto;
    }
    .banner-div{
        flex-direction: column;
        height: fit-content;
        padding: 0;
        padding-top: 20px;
    }
    .banner-div>.img-div{
        height: fit-content;
    }
    .banner-div>.img-div>img{
        width: 80%;
        height: auto;
    }
    .banner-txt{
        width: 100%;
    }
    .banner-txt>h2{
        font-size: 16px;
        font-weight: 400;
    }
    .banner-txt>h1{
        font-size: 40px;
        margin: 5px 0;
    }

    .contact-title-div>h1{
        font-size: 23px;
        margin: 10px 0;
        width: 100%;
    }

    .contact-details{
        flex-direction: column;
        padding: 0;
    }

    .contactform-div {
        padding: 20px;
        margin: 0;
        flex-direction: column;
        min-width: 350px;
        height: fit-content;
    }

    .contactform-img {
        position: absolute;
        width: 80%;
        height:80%;
        z-index: 1;
    }
    .contactform-img>img{
        opacity: 0.5;
    }
    .contactform {
        width: 95%;
        margin: 0 auto;
    }
    #home-contactform{
        width: 90%;
    }
}
@media screen and (max-width:1000px) {
    #home-contactform{
        min-width: 350px;
    }
}