.home-banner-div{
    width: 90vw;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.banner-div{
    height: 90vh;
    padding: 20px 10px;
}
.banner-txt{
    width: 50%;
    padding: 0 20px;
}
.banner-txt>h1{
    font-size: 65px;
    font-weight: 400;
}
.banner-txt>h2{
    font-weight: 300;
}

/* courses display sections */
.course-display{
    align-items: center;
    padding: 20px 0;
}
.course-display>h1{
    margin: 10px 0;
}
.courselist-div{
    overflow-x: scroll;
}
.courselist-div::-webkit-scrollbar{
    width: 0px;
}
/* contact card stylings */

.contact-details{
    padding: 20px;
    justify-content: space-evenly;
}
.contact-title-div>h1{
    font-size: 50px;
    font-weight: 400;
    width: 55%;
    text-align: center;
}
.contact-card{
    width: 30%;
    padding: 10px;
}
.contact-card>p{
    width: 80%;
    margin: 10px auto;
}
.contact-card-div>span{
    font-size: 40px;
    margin: 5px 0;
}

@media screen and (max-width:576px) {
    .home-banner-div{
        width: 100vw;
        margin: auto;
    }
    .banner-div{
        flex-direction: column;
        height: fit-content;
    }
    .banner-txt{
        width: 100%;
    }
    .banner-txt>h2{
        font-size: 16px;
        font-weight: 400;
    }
    .banner-txt>h1{
        font-size: 40px;
        margin: 5px 0;
    }

    .contact-title-div>h1{
        font-size: 23px;
        margin: 10px 0;
        width: 100%;
    }

    .contact-details{
        flex-direction: column;
        padding: 0;
    }
    .contact-card{
        width: 100%;
        margin: 5px 0;
    }
    .contact-card-div>span{
        font-size: 30px;
    }
    .contact-card-div>h2{
        font-size: 20px;
    }
}