.contact-card{
    padding: 10px;
}
.contact-card>p{
    width: 80%;
    margin: 10px auto;
}
.contact-card-div>span{
    font-size: 40px;
    margin: 5px 0;
}

@media screen and (max-width:576px) {
    .contact-card{
        width: 100% !important;
        margin: 5px 0;
    }
    .contact-card-div>span{
        font-size: 30px;
    }
    .contact-card-div>h2{
        font-size: 20px;
    }
}