.coursecategory-div{
    padding: 50px 0;
    margin: 0 0 30px 0;
    background-color: rgb(235, 235, 238);
}
.category-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category-title>h1{
    margin: 15px 0;
}

.courseCard{
    padding: 30px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.course-Card{
    width: 300px;
    min-width: 100px;
    padding: 20px ;
    margin: 20px 0;
    background-color: white;
    box-shadow: rgb(162, 162, 162) 3px 10px 15px 3px;
}
.course-Card:hover{
    background-color: rgb(227, 227, 227);
    transition: 1.2s;
}
.course-Card>h1{
    font-weight: 400;
}
.course-Card>p{
    font-size: 19px;
    margin: 15px 0;
    line-height: 25px;
}

.course-Card>span{
    font-size: 50px;
}

@media screen and (max-width:576px) {
    .coursecategory-div{
        margin: 10px 0;
    }
}