.logo-display{
    justify-content: space-evenly;
    width: 100%;
}
.logo-div{
    width:130px;
    margin: 0 10px;
}
.logo-div>img{
    width: 100%;
}
@media screen and (max-width:576px) {
    .logo-display{
        flex-wrap: wrap;
    }
    .logo-div{
        width: 100px;
    }
}