.logo-display{
    display: flex !important;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.logo-div{
    width:150px;
}
.logo-div>img{
    width: 100%;
}
@media screen and (max-width:576px) {
    .logo-display{
        flex-wrap: wrap;
    }
    .logo-div{
        width: 100px;
    }
}